body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

p{
    font-size: 20px;
    color: #333;
    max-width: 300px;
    line-height: 1.5;

}

.top {
    text-align: center;
    margin-top: 20px;

}

.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-link {
    padding: 1rem;
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.mainTitle {
    font-size: 5em;
    text-align: center;
    margin-bottom: 100px;
    font-weight: normal;

}

.title {
    /*Style .title class*/
    font-size: 30px;
    font-weight: 100;

}

.jokeAPI-background{
    background-color: rgba(218, 248, 255, 255);
    
}

.container {
    background-color: white;
    padding: 4rem 10rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* Style .container class */
}       

button {
    background-color: rgba(66,133, 244, 255);
    color: #fff;
    padding: 15px 25px 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    /*Style button class */
}